div {
  position: relative;
  height: 100vh;
  width: 100vw;
  agm-map {
    height: 100%;
    width: 100%;
  }
  .contact-detail {
    position: absolute;
    top: 23vh;
    right: 12vw;
    max-width: 400px;
    box-shadow: 0 0 20px #141414;
    .data {
      margin-left: 10px;
    }
  }
}