.card {
  position: relative;
  .mat-button-toggle {
    background: #BA68C8;
    color: #FFFFFF;
  }
  
  .mat-button-toggle-checked {
    background: #9c27b0;
    color: #FFFFFF;
  }
  .autoplay {
    position: absolute;
    right: 15px;
    color: #FFFFFF;
  }
  
  .logo {
    position: absolute;
    right: 120px;
    top: 19px;
    width: 30px;
    cursor: pointer;
  }
}


