mat-grid-list {
  background: #eeeeee;
  mat-grid-tile {
    app-page-title {
      position: absolute;
      bottom: 0;
    }
    .content {
      position: absolute;
      top: 30px;
      .example-tab-icon {
        margin-right: 8px;
      }
    }
  }
}

