mat-grid-list {
  background: #eeeeee;
  mat-grid-tile {
    app-page-title {
      position: absolute;
      bottom: 0;
    }
    .content {
      position: absolute;
      top: 10px;
      margin-bottom: 50px;
      .example-tab-icon {
        margin-right: 8px;
      }
    }
  }
}
