<div class="container">
  <div class="year">
    <span class="fromYear"> {{ education.fromYear }} </span>
    <span class="dividerYear">-</span>
    <span class="toYear"> {{ education.toYear }} </span>
    <span class="fromMounth"> {{ education.fromMounth }} </span>
    <span class="toMounth"> {{ education.toMounth }} </span>
    <span class="verticalLine"></span>
  </div>
  <div class="school-detail">
    <span class="school"> {{ education.school }} </span>
    <span class="specialization"> {{ education.specialization }} </span>
  </div>
</div>
