<mat-card
  (click)="openProjectScreenshots()"
  [@scaleCard]="onOff ? 'start' : 'stop'"
  class="example-card"
  (mouseenter)="enter()"
  (mouseleave)="leave()">
  <mat-card-header>
    <mat-card-title>{{ detail.title }}</mat-card-title>
    <mat-card-subtitle>{{ detail.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image 
    [src]="image" 
    [@fadeAnimation]="fadeInOut ? 'start' : 'stop'" />
  <mat-card-content>
    <p>{{ detail.content }}</p>
  </mat-card-content>
</mat-card>
